* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 110%;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#task {
    height: 20px;
    width: 500px;
    text-align: left;
}

.trycheck input[type="checkbox"] {
    position: absolute;
    margin-left: -50px;
    margin-top: 5px;
    cursor: pointer;
}

.trycheck {
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin-top: 30px;
    text-align: left;
    line-height: 30px;
    word-wrap:break-word;
}

.content {
    line-height: 70px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    min-height: 800px;
    background: rgb(140, 133, 133);
    border-radius: 20px;
    padding-bottom: 50px;
}

#pointadd {
    margin-left: 100px;
    font-weight: bold;
    font-size: 120%;
    position: relative;
}

#addfield {
    user-select: none;
    cursor: pointer;
    font-size: 130%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 300px;
    margin-top: 0px;
}

.delcontent {
    font-size: 60%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tasktext {
    outline: none;
    cursor: text;
}

#delall {
    font-size: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 50px;
    user-select: none;
    cursor: pointer;
}